# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Poetry
poetry.lock

# Virtualenv
.env/
.venv/
venv/
ENV/
env/
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Logs
*.log

# Test/coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# FastAPI static/media (if used)
static/
media/

# Local config
*.local
*.secret